{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>RTLS</title>
	<link rel="stylesheet" href="{% static '/home/bootstrap-4.5.3-dist/css/bootstrap.min.css' %}"/>
	<script src="{% static '/home/jquery/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static '/home/bootstrap-4.5.3-dist/js/bootstrap.min.js' %}"></script>

	<script src="{% static '/home/paho.javascript-1.1.0/paho-mqtt-min.js' %}"></script>
	<script src="{% static '/home/plotjs-1.57.1/plotly.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand h1 m-1">RTLS</span>
	</nav>
	<div class="row m-1">
		<div class="col-sm-9">
			<div id="map"></div>
		</div>
		<div class="col-sm-3" >
				<div class="overflow-auto" style="max-height: calc(100vh - 80px);" id="idNodeList">
				</div>
		</div>
	</div>

	<div class="toast" style="position: absolute; top: 10px; right: 10px;"  id="nodeToast">
		<div class="toast-header">
		  <!-- <img src="..." class="rounded mr-2" alt="..."> -->
		  <strong class="mr-auto" id="nodeToastTitle"></strong>
		  <small>1s ago</small>
		  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="toast-body" id="nodeToastBody"></div>
	</div>

	<script>
		function toastError(errorString){
			$("#nodeToastTitle").text("Error");
			$("#nodeToastBody").text(errorString);
			$('#nodeToast').toast({delay: 3000});
			$('#nodeToast').toast('show');
		}
	</script>

</body>
<style>
	.node-title-TAG{
		background-color: rgb(83, 158, 255);
	}
	.node-title-ANCHOR{
		background-color: rgb(253, 128, 128);
	}
	.node-title{
		color: rgb(255, 255, 255);
	}
	.plot-container {
          height: 90vh
	}
</style>
<script>

client = new Paho.Client('{{mqtt_server_addr}}', Number({{mqtt_server_port}}), "client_id_" + Date.now());
client.onConnectionLost = onConnectionLost;
client.onMessageArrived = onMessageArrived;
client.connect({onSuccess:onConnect});

class Node{
	constructor(address, type, locationX, locationY, locationZ) {
		this.address = address;
		this.type = type;
		this.locationX = locationX;
		this.locationY = locationY;
		this.locationZ = locationZ;
		this.editing = false;
		this.identifying = false;
	}
	valueOf(){
    	return this.address;
	};
	equal(node){
		return this.address == node.address;
	}
	some(node){
		return this.address == node.address;
	}
	toString(){
		let address = "Node: " + this.address.toString() + " ";
		let type = "type: " + this.type.toString() + " ";
		let location = "location: " + this.locationX.toString() + ", " +  this.locationY.toString() + ", " +  this.locationZ.toString();
		return  address + type + location;
	}
}

this.nodeList = new Array();

function onConnect() {
  console.log("Connected");
  client.subscribe("{{topic_subscribe}}");
}

function onFail(){
	console.log("onFail");
}

function onConnectionLost(responseObject) {
  if (responseObject.errorCode !== 0) {
	toastError("MQTT conection lost")
    console.log("Connection lost: " + responseObject.errorMessage);
	console.log("Reconnecting...");
	client.connect({onSuccess:onConnect});
  }
}

function dec2hexString(dec) {
   return '0x' + (dec+0x10000).toString(16).substr(-4).toUpperCase();
}

function handler_location(msg_location){
	node = new Node(msg.dstsrc, msg.node, msg.location_x, msg.location_y, msg.location_z);
	let added = false;
	let i = 0;
	for(i=0; i<nodeList.length; i++){
		if(node.equal(nodeList[i])) {
			added = true;
			break;
		}
	}
	if(added){
		if(!nodeList[i].editing){
			nodeUpdate(i, node);
			plot(nodeList);
		}
	}
	else{
		nodeList.push(node);
		plot(nodeList);

		console.log("Add: "+ node.toString());
		$('#idNodeList').append(
			[
				{address: node.address, addressHex: dec2hexString(parseInt(node.address)), type: node.type, 
					locationX: node.locationX.toString(), locationY: node.locationY.toString(), locationZ: node.locationZ.toString()},
			].map(nodeTemplate).join(''));
		$('#node'+ node.address +'Card').show(300);
		switch(node.type){
			case "ANCHOR":
				$('#node' + node.address + 'Select').children("option")[0].selected = true;
				$('#node' + node.address + 'Select').children("option")[0].disabled = true;
				$('#node' + node.address + 'Select').children("option")[1].disabled = true;
				break;
			case "TAG":
				$('#node' + node.address + 'Select').children("option")[1].selected = true;
				$('#node' + node.address + 'Select').children("option")[0].disabled = true;
				$('#node' + node.address + 'Select').children("option")[1].disabled = true;
				break;
		}
	}
}

function handler_onoff(msg_onoff){
	console.log("handler_onoff: " + JSON.stringify(msg_onoff));
}

function onMessageArrived(message) {
	try{
		msg = JSON.parse(message.payloadString);
		switch(msg.mavpackettype){
			case "LOCATION":
				handler_location(msg)
				break;
			case "ONOFF":
				handler_onoff(msg)
				break;
			case "DISTANCE":
				console.log(msg)
				break;
			default:
				console.error("UNKNOWN MSG: "+message.payloadString);
				break;
		}
	}
	catch(error){
		console.error("MSG PROCESS ERROR: " + message.payloadString + " ERROR: " + error.toString());
	}
}

const nodeTemplate = ({ address, addressHex, type, locationX, locationY, locationZ}) => 
`
<div class="card m-1" style="display: none;" id="node${address}Card">
    <div class="card-heading p-1 node-title-${type}" role="button" data-toggle="collapse" href="#node${address}Toggle">
        <h5 class="row card-title m-1 node-title">
            Node <span style='margin-left:0.25em'>${addressHex}</span>
        </h5>
    </div>
    <div class="collapse" id="node${address}Toggle">
        <div class="card-body p-2">
            <div class="row col-sm-12 no-gutters">
                <label class="col-sm-3 col-form-label">Type</label>
                <select class="col-sm-9 form-control" id="node${address}Select">
                    <option>ANCHOR</option>
                    <option>TAG</option>
                </select>
            </div>
			<div class="row col-sm-12 no-gutters pt-1">
				<div class="col-sm-3 no-gutters col-form-label">
					<div><label>Location</label></div>
					<div class="spinner-grow spinner-grow-sm text-info p-1" role="status" style="display: none;" id="node${address}Identifying"></div>
				</div>
                <div class="col-sm-9 no-gutters">
                    <div class="row col-sm-12 no-gutters pt-1 pb-1">
                        <label class="col-sm-2 col-form-label text-center">X</label>
                        <input type="text" class="col-sm-10 form-control p-1" value="${locationX}" readonly id="node${address}LocationX">
                    </div>
                    <div class="row col-sm-12 no-gutters pt-1 pb-1">
                        <label class="col-sm-2 col-form-label text-center">Y</label>
                        <input type="text" class="col-sm-10 form-control p-1" value="${locationY}" readonly id="node${address}LocationY">
                    </div>
                    <div class="row col-sm-12 no-gutters pt-1 pb-1">
                        <label class="col-sm-2 col-form-label text-center">Z</label>
                        <input type="text" class="col-sm-10 form-control p-1" value="${locationZ}" readonly id="node${address}LocationZ">
                    </div>
                </div>
            </div>
			<div class="row col-sm-12 no-gutters pt-1">
				<div class="col-sm-4 p-2">
					<button type="button" class="btn btn-outline-primary col-sm-12" id="node${address}BtnIdentify" onclick="onIdentifyBtnClick('${address}')">Identify</button>
				</div>
                <div class="col-sm-4 p-2"><button type="button" class="btn btn-outline-primary col-sm-12" id="node${address}BtnEdit" onclick="onEditBtnClick('${address}')">Edit</button></div>
				<div class="col-sm-4 p-2"><button type="button" class="btn btn-outline-primary col-sm-12" id="node${address}Update" onclick="onUpdateBtnClick('${address}')">Update</button></div>
            </div>
        </div>
    </div>
</div>
`;

function nodeUpdate(idx, node){
	nodeList[idx].type = node.type;
	nodeList[idx].locationX = node.locationX;
	nodeList[idx].locationY = node.locationY;
	nodeList[idx].locationZ = node.locationZ;
	
	switch(node.type){
		case "ANCHOR":
			$('#node' + node.address + 'Select').children("option")[0].selected = true;
			break;
		case "TAG":
			$('#node' + node.address + 'Select').children("option")[1].selected = true;
			break;
	}

	$('#node' + node.address + "LocationX").val(node.locationX)
	$('#node' + node.address + "LocationY").val(node.locationY)
	$('#node' + node.address + "LocationZ").val(node.locationZ)
}

function onEditBtnClick(address){
	console.log("onEditBtnClick: " + address);

	let idx = 0;
	for(idx=0; idx<nodeList.length; idx++){
		if(address == nodeList[idx].address) break;
	}
	let node = nodeList[idx];

	if(node.editing){
		node.editing = false;
		$('#node' + address + 'BtnEdit').text('Edit').button("refresh");
		$('#node' + address + 'Select').children("option")[0].disabled = true;
		$('#node' + address + 'Select').children("option")[1].disabled = true;
		$('#node' + address + 'LocationX').attr('readonly', true);
		$('#node' + address + 'LocationY').attr('readonly', true);
		$('#node' + address + 'LocationZ').attr('readonly', true);
	}else{
		node.editing = true;
		$('#node' + address + 'BtnEdit').text('Editing...').button("refresh");
		$('#node' + address + 'Select').children("option")[0].disabled = false;
		$('#node' + address + 'Select').children("option")[1].disabled = false;
		$('#node' + address + 'LocationX').attr('readonly', false);
		$('#node' + address + 'LocationY').attr('readonly', false);
		$('#node' + address + 'LocationZ').attr('readonly', false);
	}
}

function publish(topic, msg){
	message = new Paho.Message(msg);
	message.destinationName = topic;
	console.log("Publish to topic '" + topic + "': " + msg);
	client.send(message);
}

function onUpdateBtnClick(address){
	console.log("onUpdateBtnClick: " + address);
	let idx = 0;
	for(idx=0; idx<nodeList.length; idx++){
		if(address == nodeList[idx].address) break;
	}
	let node = nodeList[idx];

	if(!node.editing){
		toastError("Enter editing mode first");
		return;
	}

	locationX = parseFloat($('#node' + node.address + 'LocationX').val());
	locationY = parseFloat($('#node' + node.address + 'LocationY').val());
	locationZ = parseFloat($('#node' + node.address + 'LocationZ').val());
	address = parseInt(address);
	if(isNaN(locationX) || isNaN(locationY) || isNaN(locationZ)){
		toastError("Invalid location");
		return;
	}
	if(isNaN(address)){
		toastError("Invalid node address");
		return;
	}
	
	if($('#node' + node.address + 'Select').children("option")[0].selected)
		node = "ANCHOR"
	else
		node = "TAG"
	cmd = '{"mavpackettype": "LOCATION", "dstsrc": ' + address + ', "node": "' + node + '", "type": "SET", "location_x": ' + locationX +', "location_y": ' + locationY + ', "location_z": ' + locationZ + '}'

	publish("{{topic_publish}}", cmd)
}

function onIdentifyBtnClick(address){
	console.log("onIdentifyBtnClick: " + address);

	let idx = 0;
	for(idx=0; idx<nodeList.length; idx++){
		if(address == nodeList[idx].address) break;
	}
	let node = nodeList[idx];

	address = parseInt(address);
	if(isNaN(address)){
		toastError("Invalid node address");
		return;
	}

	if(node.identifying){
		node.identifying = false;
		$('#node' + address + 'BtnIdentify').text('Identify').button("refresh");
		// $('#node' + address + 'Identifying').hide();
		cmd = '{"mavpackettype": "ONOFF", "dstsrc": '+ address +', "type": "SET", "value": 0}'
	}
	else{
		node.identifying = true;
		$('#node' + address + 'BtnIdentify').text('Identifying').button("refresh");
		// $('#node' + address + 'Identifying').show();
		cmd = '{"mavpackettype": "ONOFF", "dstsrc": '+ address +', "type": "SET", "value": 1}'
	}
	publish("{{topic_publish}}", cmd)
}

</script>
<script>

	var plotAnchors = {
		x: [],
		y: [],
		mode: 'markers',
		type: 'scatter',
		name: 'Anchor',
		marker: { 
			size: 12,
			color: 'rgb(253, 128, 128)'
		},
	};

	var plotTags = {
		x: [],
		y: [],
		mode: 'markers',
		type: 'scatter',
		name: 'Tag',
		marker: { 
			size: 12,
			color: 'rgb(83, 158, 255)'
		},
	};
	
	var plotData = [ plotAnchors, plotTags ];

	var layout = {
		// xaxis: {
		// 	range: [0, 5],
		// 	// automargin: true,
		// },
		// yaxis: {
		// 	range: [0, 5],
		// 	// automargin: true,
			
		// },
		'xaxis.autorange': true,
        'yaxis.autorange': true,
		legend: {
			y: 0.5,
			yref: 'paper',
			font: {
			family: 'Arial, sans-serif',
			size: 20,
			color: 'grey',
			}
		},
		title:'Map',
		autosize: true,
		hovermode: "closest"
	};

	Plotly.newPlot('map', plotData, layout, {scrollZoom: true, responsive: true});
	
	function plot(nodeList){
		updateNode = {x: [[], []], y: [[], []]};
		updateLayout = {};
		for(i=0; i<nodeList.length; i++){
			node = nodeList[i];
			if(node.type == "ANCHOR"){
				updateNode.x[0].push(node.locationX);
				updateNode.y[0].push(node.locationY);
			}
			else if(node.type == "TAG"){
				updateNode.x[1].push(node.locationX);
				updateNode.y[1].push(node.locationY);
			}
		}
		Plotly.update('map', updateNode, updateLayout, [0, 1]);
	};

</script>
</html>