<div class="card m-1">
    <div class="card-heading p-1 node-title" role="button" data-toggle="collapse" href="#node">
        <h5 class="row card-title m-1">
            <div class="col-sm-3 no-gutters text-center">Node</div>
            <div class="col-sm-9 no-gutters">0xAAAA</div>
        </h5>
    </div>
    <div class="collapse" id="node">
        <div class="card-body p-2">
            <div class="row col-sm-12 no-gutters">
                <label class="col-sm-3 col-form-label">Type</label>
                <select class="col-sm-9 form-control">
                    <option>ANCHOR</option>
                    <option disabled>TAG</option>
                </select>
            </div>
            <div class="row col-sm-12 no-gutters pt-1">
                <label class="col-sm-3 no-gutters col-form-label">Location</label>
                <div class="col-sm-9 no-gutters">
                    <div class="row col-sm-12 no-gutters pt-1 pb-1">
                        <label class="col-sm-2 col-form-label text-center">X</label>
                        <input type="text" class="col-sm-10 form-control" value="0.123" readonly>
                    </div>
                    <div class="row col-sm-12 no-gutters pt-1 pb-1">
                        <label class="col-sm-2 col-form-label text-center">Y</label>
                        <input type="text" class="col-sm-10 form-control" value="0.123" readonly>
                    </div>
                    <div class="row col-sm-12 no-gutters pt-1 pb-1">
                        <label class="col-sm-2 col-form-label text-center">Z</label>
                        <input type="text" class="col-sm-10 form-control" value="0.123" readonly>
                    </div>
                </div>
            </div>
            <div class="row col-sm-12 no-gutters pt-1">
                <div class="col-sm-6 p-2"><button type="button" class="btn btn-outline-primary col-sm-12">Edit</button></div>
                <div class="col-sm-6 p-2"><button type="button" class="btn btn-outline-primary col-sm-12">Update</button></div>
            </div>
        </div>
    </div>
</div>

// <div class="spinner-grow spinner-grow-sm text-info p-1" role="status" style="display: none;" id="node${address}Identifying"></div>